.containner {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
}

.image {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  margin: auto;

  padding: 1px;
}
.Buttons {
  border: 5px solid black;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.loading img {
  display: block;
  height: 50px;
  width: 50px;
}
